.card{
  width: 900px;
  height: 500px;
  background-color: rgb(255, 230, 230);
  display: flex;
  margin: 0 auto;
}
.photo-card{
  width: 30em;
  height: 31em;
  background-color: rgb(247, 201, 110);
  
}
.descripcion-card{
  width: 300px;
  height: 300px;
  background-color: rgb(251, 251, 106);
}
.title{
  display: block;
  text-align: center;
}
.card-content{
  margin-top: 50px;
  margin-left: 50px;
}